extends layout 

block content 
    h2 Join Admin
    if user
        if !user.isAdmin
            p Enter the secret passcode to join the admin team! 
            form(method="post")
                label(for="password") Passcode:
                input(type="password" name="password" id="password")
                button(type="submit") Submit
        else
            p You're already a member!
    else 
        p You need to #[a(href="/sign-up") sign up] and then #[a(href="/login") login] to be able to join the admin team.
    if errors 
        ul 
            each err in errors 
                li=err.msg
