extends layout 

block head
    link(rel="stylesheet" href="/css/form.css")

block content 
    h2 New Message
    if user && user.isMember 
        form(method="post")
            label(for="title") Title: 
            input(type="text" name="title" id="title" value=(message ? message.title : '') required)
            label(for="body") Body: 
            textarea(name="body", cols="27", rows="10" value=(message ? message.body : '') required) 
            button(type="submit") Submit
        if errors 
            ul 
                each err in errors 
                    li=err
    else 
        p Please #[a(href='/join-club') join the club] to post messages.
